# DimensionSetting constructor
public net.minecraft.world.gen.DimensionSettings <init>(Lnet/minecraft/world/gen/settings/DimensionStructuresSettings;Lnet/minecraft/world/gen/settings/NoiseSettings;Lnet/minecraft/block/BlockState;Lnet/minecraft/block/BlockState;IIIZLjava/util/Optional;)V # constructor

public-f net.minecraft.village.PointOfInterestType field_226356_s_  #field_226356_s_
public-f net.minecraft.village.PointOfInterestType field_221073_u  #field_221073_u
public-f net.minecraft.village.PointOfInterestType field_221075_w # field_221075_w
public net.minecraft.village.PointOfInterestType func_221038_e()Ljava/util/stream/Stream; # getAllStates
public net.minecraft.village.PointOfInterestType func_221042_a(Lnet/minecraft/block/Block;)Ljava/util/Set; # getAllStates
public net.minecraft.village.PointOfInterestType func_226359_a_(Ljava/lang/String;Ljava/util/Set;II;)Lnet/minecraft/village/PointOfInterestType; # register


public net.minecraft.village.PointOfInterestType <init>(Ljava/lang/String;Ljava/util/Set;II)V # comment
public net.minecraft.entity.merchant.villager.VillagerProfession <init>(Ljava/lang/String;Lnet/minecraft/village/PointOfInterestType;Lcom/google/common/collect/ImmutableSet;Lcom/google/common/collect/ImmutableSet;Lnet/minecraft/util/SoundEvent;)V